version: "3.8"
services:
  db:
    image: postgres:17.4
    restart: always
    environment:
      POSTGRES_USER: 
      POSTGRES_PASSWORD: 
      POSTGRES_DB: 
    ports:
      - "5001:5432"
    volumes:
      -your local directory
# volumes:
#   pgdata:
